:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }


.dark-mode{
  background-color: black;
  background-image: url("./assets/images/darkmodeBG.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  padding: 20px;
  color: white;

}

.dark-mode .card{
  background-color: grey;
}

.dark-mode button{
  padding: 10px;
  background-color: rgb(194, 31, 113);
  color: white;
  border: none;
  cursor: pointer;
}

.dark-mode th {
  background-color: rgb(194, 31, 113);
  color: white;

}

.dark-mode #ProfilePic{
  border: 5px;
  border-style: solid;
  border-color: rgb(194, 31, 113);
  border-radius: 50%;
  width: 300px;
  height: 400px;
}

#themeToggle{
  position: absolute !important; 
  top: 60px !important;
  right: 50px !important;       
  left: auto !important;        
  width: auto;
}

#toggleSkills{
  position: absolute;
  top: 15px;
  left: 15px;
  right: auto;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url("./assets/images/Pinkbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  
  }

.container {
  max-width: fit-content;
  margin: 0 auto;
  }

.card {
  display: flex;          
  flex-direction: column; 
  align-items: center;    
  text-align: center;

  opacity: 1;
  margin-left: 500px;
  margin-right: 500px;

  position: relative;
  padding-top: 40px;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
  }
.card:hover {
  box-shadow: 0, 15px 30px rgba(0,0,0,0.5)
  
}

/* || Typography */
#Title{
  background-color: rgba(255, 255, 255, 0.5);
  border: dotted;
  border-width: 10px;
  border-color: pink;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  }

h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  }
p {
  text-align: center;
  margin-bottom: 10px;
  }

ul {
  margin-left: 20px;
  margin-bottom: 10px;
  }

a {
  text-decoration: none;
  color: pink;
  }

a:hover {
  color: rgb(148, 224, 243);
  }


#ProfilePic{
  border: 5px;
  border-style: solid;
  border-color: pink;
  border-radius: 50%;
  width: 300px;
  height: 400px;
}

#subtitle{
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  }
  
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  }

th {
  background-color: pink;
  color: white;
  }

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
  margin-top: 20px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

input, textarea {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: palevioletred;
  color: white;
  border: none;
  cursor: pointer;
  }

button:hover {
  background-color: rgb(147, 190, 224);
  }


#Copyright{
      text-align: right;
  }